<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header}"></head>
<body>
<div th:replace="~{fragments/menu}"></div>
<div class="container d-flex flex-md-wrap justify-content-center">
    <div class="card m-3 shadow-sm" th:each="film : ${films}" style="width: 20%;">
        <a class="text-decoration-none" th:href="@{/films/{filmId}(filmId=${film.id})}">
            <img th:src="@{/files/{fileId}(fileId=*{film.fileId})}" class="img-fluid rounded w-100" alt="Постер фильма">
            <div class="card-body">
                <h3 class="card-title text-black-50" th:text="${film.name} + ' (' + ${film.year} + ')'">Name (year)</h3>
                <p class="card-text text-black-50">
                    <strong>Жанр:</strong>
                    <span th:text="${film.genre}">Genre</span>
                </p>
            </div>
        </a>
    </div>
</div>
</body>
</html>
